.countries-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* background-color: #a8b09b; */
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;
}
