.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: #c5c9c797;
  font-size: 1.5rem;
  /* cursor: pointer; */
}

.header-darkmode {
  background-color: #121212;
  color: silver;
  /* cursor: pointer; */
}
